.top-cards {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
    border-top-left-radius: 1rem;
}

.card {
    border-top-left-radius: 20%;
}

.top-cards img {
    height: 10rem;
    width: auto;
}

.top-cards h5 {
    text-align: center;
}

.card-body:hover {
    background-color: rgb(246, 237, 228);
}

.btn-Reportar {
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .top-cards img {
        height: auto;
        width: auto;
    }
}