@keyframes saltar {
    0% {
        bottom: 1em
    }

    50% {
        bottom: 3em
    }

    100% {
        bottom: 1em
    }
}

.saltarina {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: .15em solid #000;
    color: #000;
    text-decoration: none;
    display: flex;
    font-size: 1.8em;
    align-items: center;
    justify-content: center;
    position: relative;
    /* bottom: 0;  */
    left: 50%;
    transform: translateX(-50%);
    animation-name: saltar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.saltarina:hover {
    animation-play-state: paused;
    border: #fff;
    color: #fff;
    background-color: #000;
}

.Banner-adopt{
    text-align: center;
}

.Adoptar-texto {
    margin-bottom: 8%;
    width: 100%;
}


.Adoptar-texto h2 {
    font-size: 45px;
}

.Adoptar-texto p {
    font-size: 35px;
}

.Adoptar-texto figcaption {
    font-size: 25px;
    color: rgb(222, 155, 1);
}

@media only screen and (max-width: 700px) {


    .Adoptar-texto h2 {
        font-size: 18px;
    }

    .Adoptar-texto p {
        margin-top: 20px;
        font-size: 20px;
    }

    .Adoptar-texto figcaption {
        margin-top: 3px;
        font-size: 19px;
        color: rgb(250, 150, 19);}

    }