/* footer {
    /*height: 20em;
} */

.contLogos {
    margin-top: 30%;
    justify-content:center;
    align-items: center;
}

.margin-der{
    margin-top: 10%;
}

.logos {
    padding: 15px;
    /* background-color: white; */
}

#btnModal {
    height: 3rem;
    background-color: white;
    /*transition: all 0.5s;*/
}

 #btnModal:hover {
    background-color: black;
    color: white;
    
}

.linkFooter {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.liItem {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 0;

}

.texto {
    color: white;
    text-align: center;
}

.reg {
    margin-top: 9em;
}


.margin-nav{
    margin-top: 40%;
}

@media only screen and (max-width: 700px) {

    .contLogos {
        margin-top: 10%;

    }

    .margin-nav{
        margin-top: 15%;
    }
}