/* footer {
    /*height: 20em;
} */

.contLogos {
    width: 50%;
}

.logos {
    width: 3rem;
}

#btnModal {
    height: 3rem;
    background-color: white;
    /*transition: all 0.5s;*/
}

 #btnModal:hover {
    background-color: #343a40;
    color: white;
    
}

.linkFooter {
    color: white;
    font-weight:bolder;
}

.texto {
    color: white;
    text-align: center;
}

.reg {
    margin-top: 10em;
}