.margin-reportar{
    margin-top: 10%;
}

.container_lista{
    margin-left: 5%;
    margin-right: 5%;
}

.lista{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


